@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?f0bd8212fad03cfbb197ba430cf1850b") format("truetype"),
url("./flaticon.woff?f0bd8212fad03cfbb197ba430cf1850b") format("woff"),
url("./flaticon.woff2?f0bd8212fad03cfbb197ba430cf1850b") format("woff2"),
url("./flaticon.eot?f0bd8212fad03cfbb197ba430cf1850b#iefix") format("embedded-opentype"),
url("./flaticon.svg?f0bd8212fad03cfbb197ba430cf1850b#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-quotation:before {
    content: "\f101";
}
.flaticon-ef495387f-4a27-808f-f6a1587881bb-noun-integration-3549png:before {
    content: "\f102";
}
.flaticon-f934a4c5-e49eac-94c313c584ae-noun-delivery-4688png:before {
    content: "\f103";
}
.flaticon-easy-control:before {
    content: "\f104";
}
.flaticon-d4fb08ab4-435a-855b17828e3c2-noun-consultation-3148png:before {
    content: "\f105";
}
.flaticon-65c7df91-3fa1-4b35d-1cf3cde4e2f7-noun-saving-3730png:before {
    content: "\f106";
}
.flaticon-1080p-camera-2:before {
    content: "\f107";
}
.flaticon-doorbell-alert-2:before {
    content: "\f108";
}
.flaticon-memory-2:before {
    content: "\f109";
}
.flaticon-motion-detection-2:before {
    content: "\f10a";
}
.flaticon-voice-intercom-2:before {
    content: "\f10b";
}
.flaticon-water-proof-2:before {
    content: "\f10c";
}
.flaticon-weight-2:before {
    content: "\f10d";
}
